player-connection-mode=Listen
player-connection-guid=3124974488
player-connection-debug=0
player-connection-project-name=SP26_CS465_dLucas
player-connection-ip=129.82.119.67
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xr-meta-enabled=0
xrsdk-pre-init-library=UnityOpenXR
xr-request-additional-vulkan-graphics-queue=0
xr-use-vulkan-offscreen-swapchain-no-main-display-buffer=0
build-guid=bc1873ad0523471091d4e78b746a7e94
